:root {
    --color-dark: #1e1e20;
    --color-dark2: #0e0e0f;
    --color-white: rgb(240, 240, 240);;
    --color-border: #1e1e2033;
    --color-light: #f0eeec;
}
* {
    margin: 0;
    padding: 0;
    color: var(--color-dark);
    line-height: 1.36;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
textarea:focus, input:focus{
    outline: none;
}
.section {
    background-color: hsl(30, 11%, 96%);
    padding-top: 40px;
    min-height: 100vh;
}
.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto ;
    padding: 20px;
    border: 1px solid var(--color-border);
    background-color: #fff;
}
button {
    border: none;
    background: none;
}